@charset "UTF-8";
/* line 1, style.scss */
* {
  margin: 0px;
  padding: 0px;
  font-size: 0.12rem;
  font-weight: normal;
  font-style: normal;
  font-family: 'Microsoft YaHei'; }

/* line 9, style.scss */
ul, li {
  list-style: none; }

/* line 12, style.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

/* line 16, style.scss */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 100px; }

/* line 26, style.scss */
img, div, body, html, ul, li, a {
  -webkit-touch-callout: none; }

/* line 30, style.scss */
input {
  -webkit-appearance: none; }

.fl {
  float: left; }

/* line 71, style.scss */
.fr {
  float: right; }

/* line 74, style.scss */
.clear {
  *zoom: 1; }

/* line 75, style.scss */
.clear:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  height: 0; }
body{
  width: 100%;
  min-width: 540px;
}

.nav{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #666;
}
.nav a{
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
}
.nav a:hover{
  color: #ccc;
}
.wrap{
  width: 100%;
  height: auto;
}
.wrap .containers{
   width: 100%;
   height: auto;
}
 h4{
   text-align: center;
   font-size: 35px;
   margin-right: 400px;
}
.wrap .containers .list{
  width: 100%;
  height: auto;
}
.wrap .containers .list li{
  height: 40px;
  line-height: 40px;
  display: flex;
}

.wrap .containers .list li span{
  font-size: 20px;
  color: #666;
}

.wrap .containers .list li i{
  font-size: 24px;
  color: #000;
}

.wrap .containers .list li .one{
  display: flex;
  flex:1;
  justify-content: flex-end;
}
.wrap .containers .list li .one>b{
   display: flex;
   width:100px;
   justify-content: space-between;
}


.mySlef{
  width: 100%;
  height: auto;
}

.mySlef .list{
   width: 65%;
   height: auto;
   margin: 0 auto;
}

.mySlef .list li span{
  padding: 0 5px;
  font-size: 20px;
  color: #000;
}
.mySlef .list li{
  height: 50px;
  font-size: 20px;
  color: #666
}



.workExperience{
  width: 100%;
  height: auto;
}
.workExperience .list{
   width: 65%;
   height: auto;
   margin: 0px auto;
}
.workExperience .list li{
   height: auto;
   margin-top: 25px;
   color: #666 
}
.workExperience .list li .tits{
  font-size: 20px;
}
.workExperience .list li p>span{
  font-size: 20px;
}